<a href="https://colab.research.google.com/github/ApsaraVenugopal/Artificial-Intelligence-Data-Science/blob/master/Day5_dictionary%2Cfunctions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Dictionary*** 
colection,unordered,changebale,indexing using keys,declaration using {},key-value pair,key should not be duplicated

In [69]:
a={}  #declaration of a null dictionary
type(a)

dict

In [70]:
s={"key1":"Malappuram","key2":"Palakkad","key3":"Thrissur"}
s

{'key1': 'Malappuram', 'key2': 'Palakkad', 'key3': 'Thrissur'}

In [71]:
k={"key1":"Malappuram","key2":"Palakkad","key3":"Thrissur","key2":"TVM"} # key should not be duplicated
k

{'key1': 'Malappuram', 'key2': 'TVM', 'key3': 'Thrissur'}

In [72]:
list1=[1,2,4]
list1[2]

4

In [73]:
k

{'key1': 'Malappuram', 'key2': 'TVM', 'key3': 'Thrissur'}

In [74]:
k[0] # we can't access values using index in dictionary

KeyError: ignored

In [ ]:
k['key3']

In [ ]:
r={0:"Malappuram",1:'TVM','key1':"kottaym"}
r[0]

In [ ]:
v={0:"Malappuram",1:'TVM','t':[3,6,'kpm'],'key1':"kottaym"}
v['t']
v

In [ ]:
w={0:1,1:"ABC",2:"Edappal",'d':{'a':'XYZ','b':'def'}} # nested dictionary
w

In [ ]:
w['d']['b'] # accessing values inside a nested dictionary

In [ ]:
v={0:"Malappuram",1:'TVM','t':[3,6,'kpm'],'key1':"kottaym"}
v
for i in v:
  print(v[i])  # to print values line by line

In [ ]:
for i in v:
  print(i+""+v[i])

In [ ]:
for i in v: # solution for th above error
  print(str(i)+" "+str(v[i]))

In [ ]:
# to view keys
v.keys()

In [ ]:
# to view values
v.values()

In [ ]:
# to add an item to dictionary
v['key2']="Kannur"
print(v)

In [ ]:
# Question: To printb a dictionary where the keys are numbers between 1 and 15 both included and the values are square of keys
dict1={}
for i in range(1,16):
  dict1[i]=i*i
  i=i+1
print(dict1)

In [ ]:
k for k in range(1,16)

In [ ]:
m={k:k for k in range(1,16)}
print(m)

In [ ]:
m={k:k*k for k in range(1,16)}
print(m)

In [ ]:
lst2=['Anil','Shaheen','Raju','Babu']
f={}
for i in lst2:
  f[i[0]]=i
print(f)

In [ ]:
lst2=['Anil','Shaheen','Raju','Babu'] 
j={}
{i[0]:i for i in lst2}

In [ ]:
dict1={'ten':10,'Twenty':20,'Thirty':30}
dict2={'Thirty':50,'Fourty':40,'fifty':50}
dict3=dict1.copy() # copy all the elements in the dict1 to dict3
dict3

In [ ]:
dict3.update(dict2)
dict3

# ***Functions***

def funtionname(arg1,arg2,.....,argn):
  statement1
  statement2
  etc

In [75]:
def sayHello(): # without argument
  print("Hello")

sayHello()

Hello

In [77]:
def sayHello(s): # with argument
  print("Hello"+s)

sayHello(" Dubai")

Hello Dubai

In [79]:
def sayHello(s): # with argument and with return value
  p="Hello"+s
  return p
k=sayHello(" Dubai")
print(k)

Hello Dubai

In [81]:
def sayhello2(r):
  s="Hello "+r
  return s
k=sayhello2("MES")
print(k)

Hello MES

In [83]:
def testfn1():
  return 1,4,6,0
m=testfn1()
print(m)

(1, 4, 6, 0)

In [84]:
# place holder concept
def testfn1():
  return 1,4,6,0
m,_,_,_=testfn1()  # if we want the first value
print(m)

1

In [85]:
# place holder concept
def testfn1():
  return 1,4,6,0
_,_,m,_=testfn1()  # if we want the third value
print(m)

6

In [88]:
def addNumber(num1,num2):
  res=num1+num2
  return res

c=addNumber(3,4)
print(c)

7

In [89]:
d=addNumber('one'+4)
print(d)

TypeError: ignored

In [98]:
def addNumber(num1,num2=1): # default argument
  res=num1+num2
  return res

c=addNumber(3,5)
print(c)

d=addNumber(3)
print(d)

8
4

In [100]:
# Question : a,b,c --- max
def maxOfThree(num1,num2,num3):
  maxValue=max(num1,num2,num3)
  return maxValue

result=maxOfThree(8,1,5)
print(result)

8

In [102]:
# Question : a,b,c --- max
def maxOfThree(num1,num2,num3):
  if num1>num2 and num1>num3:
    return num1
  else num3>num2:
    return num3

result=maxOfThree(8,1,5)
print(result)

8

In [103]:
def maxOfTwo(a,b):
  if a>b:
    return a
  else:
    return b

def maxOfThree(x,y,z):
  max1=maxOfTwo(x,y)
  max2=maxOfTwo(max1,z)
  return max2

maxOfThree(3,5,0)

5